*

!.gitignore
!README.md
!MANIFEST.in
!pyproject.toml
!setup.py
!LICENSE

!graphinglib/
!graphinglib/__init__.py
!graphinglib/figure.py
!graphinglib/file_manager.py
!graphinglib/fits.py
!graphinglib/graph_elements.py
!graphinglib/legend_artists.py
!graphinglib/data_plotting_1d.py
!graphinglib/data_plotting_2d.py
!graphinglib/multifigure.py
!docs/
!docs/*
!docs/handbook/*
!docs/reference/*
!docs/release_notes/*
!examples/
!examples/**

!graphinglib/default_styles/
!graphinglib/default_styles/*.yml

!Unit_testing/
!Unit_testing/*_test.py

!images/
!images/*
