*

!.gitignore
!setup.py
!README.md

!GraphingLib/
!GraphingLib/__init__.py
!GraphingLib/Figure.py
!GraphingLib/File_manager.py
!GraphingLib/Fits.py
!GraphingLib/Graph_elements.py
!GraphingLib/Legend_artists.py
!GraphingLib/Default_styles/*.yml

!Unit_testing/
!Unit_testing/*_test.py