sphinx-copybutton
pydata-sphinx-theme
numpy
scipy
matplotlib
PyYAML
platformdirs
sphinx-favicon
sphinx-design
setuptools_scm
git+https://github.com/GraphingLib/GraphingLib@doc/1.5.0
numpydoc
PyGithub
sphinxext-opengraph
