sphinx-copybutton
pydata-sphinx-theme
numpy
scipy
matplotlib==3.9.4
PyYAML
platformdirs
sphinx-favicon
sphinx-design
setuptools_scm
git+https://github.com/GraphingLib/GraphingLib.git
numpydoc
PyGithub
pyperclip
